        /* 01ABRIL2022*/
        * {
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
        }
        body {
            font-size: 24px;
            font-family: 'Teko', Helvetica, sans-serif;
            /***    Paleta ServerBKD ***/
            --palettex : #7137c899;
            --bckx : #000;
            --wthx : #fffff1f9;
            --SATURATED-SKY : #5352ed;
            --BRIGHT-GREEK : #3742fa;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url('../img/back5s4s5d4sdz54x13xd5d.jpg');
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: var(--SATURATED-SKY);
            height: 100vh;
   }
        /*******************************************************************/

        nav{
            position: fixed;
            width: 100%;
            height: 5rem;
            background: var(--wthx);
            font-size: 3rem;
            letter-spacing: 1.03px;
            padding: .2rem 5rem 1rem 5rem;
        }

        nav:hover{
            background-color: var(--palettex);
        }
        nav a{
            color:  var(--palettex);
        }
        nav a:hover{
            color: var(--wthx);
            text-decoration: none;
        }



        .appdwn{
            background-color: var(--palettex);
            color: var(--wthx);
            width: 40%;
            padding: 2rem 3rem;
            border-radius: .3rem;
            margin: 5rem 2rem 0 2rem;
        }

        .nombre h3{
            color: var(--wthx);
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }

        .row{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        section .input-group-text{
            background-color: var(--SATURATED-SKY);
            color: #fff;
        }

        .btn{
            background: none;
            width: 75%;
            font-size: 2rem;
            color: var(--wthx);
        }

        .btn:hover{
            background-color: var(--BRIGHT-GREEK);
            letter-spacing: 1.3px;
            color: var(--wthx);
        }

        .form-control:focus{
            color: var(--BRIGHT-GREEK);
            font-size: 1.12rem;
        }

        @media (max-width : 1440px) {
            nav a,
            .nombre h1{
                font-size: 2rem;
            }
            .appdwn{
                margin: 0rem 2rem;
            }
            .btn{
                width: 100%;
                font-size: 1.75rem;
            }
        }
/******************************/

.ri-camera-fill{
    color: var(--bckx);
    font-size: 3rem;
    background: #00b894;
    border-radius: 50%;
    padding: 1.52rem;
    margin: 0 auto;
}

.ri-camera-fill p{
    margin: 0 auto;
}

.card-header,
.card-footer{
    background: none !important;
    font-size: 3rem;
    text-align: center;
}
   